{% extends 'task/base.html' %}
{% load static %}

{% block titel %}
<title>sign-up</title>
{% endblock titel %}

{% block body %}
<style>
    .bg-image-vertical {
        position: relative;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: right center;
        background-size: auto 100%;
    }

    @media (min-width: 1025px) {
        .h-custom-2 {
            height: 100%;
        }
    }
</style>

<section class="vh-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 text-black">



                <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

                    <form method="POST" style="width: 23rem;" action="{% url 'reset_password' %}">
                        {% csrf_token %}

                        {% if messages %}
                        {% for message in messages %}
                        <div style="text-align: center;" class="alert alert-{{message.tags}} alert-dismissible fade show"      role="alert">
                            <strong>{{message}}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}

                        {% endif %}

                        <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Reset Password</h3>

                        <p class="mb-6">Enter your OTP number and reset your password.</p>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example18">Email address</label>
                            <input type="email" id="form2Example18" class="form-control form-control-lg" name="email" value="{{email}}" readonly />
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example18">OTP</label>
                            <input type="number" id="form2Example18" class="form-control form-control-lg" name="otp" />
                        </div>
                        
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example28">Password</label>
                            <input type="password" id="form2Example18" class="form-control form-control-lg" name="password" />
                        </div>

                        <div class="pt-1 mb-4">
                            <button style="background-color: rgba(141, 196, 177, 0.547);"
                                class="btn btn-info btn-lg btn-block" type="submit">Submit</button>
                        </div>

                        <p>Don't have an account? <a style="color: rgba(141, 196, 177, 0.547);"
                                href="{% url 'sign_in' %}" class="link-info">Signin here</a></p>

                    </form>

                </div>

            </div>

        </div>
    </div>
</section>
{% endblock body %}